.btn-close-container {
  padding-left: 70%;
  margin: 16px;

  button {
    padding: 8px;
    color: gainsboro;
  }
}

.btn-reset {
  color: white;
  background-color: #0197a6;
  padding: 26px;
  border-radius: 26px;
}

.bidet-container {
  margin-top: 16px;

  p {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

mat-slider {
  width: 90%;
}
