<div>
  <div class="btn-close-container">
    <button mat-button>X</button>
  </div>
  <div>
    <button mat-raised-button class="btn-reset">
      <mat-icon>cached</mat-icon>Réinitialiser
    </button>
  </div>
  <div class="bidet-container">
    <p>Ajuster le budget</p>
    <div>
      <mat-slider min="200" max="500">
        <input value="300" matSliderStartThumb />
        <input value="400" matSliderEndThumb />
      </mat-slider>
    </div>
    <div>
      <section class="example-section">
        <p>Assureur</p>
        <span class="example-list-section">
          <ul>
            @for (subtask of task.subtasks; track subtask) {
            <li>
              <mat-checkbox
                [(ngModel)]="subtask.completed"
                [color]="subtask.color"
                (ngModelChange)="updateAllComplete()"
              >
                {{ subtask.name }}
              </mat-checkbox>
            </li>
            }
          </ul>
        </span>
      </section>
    </div>
  </div>
</div>
